body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.black{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
}

.icon{
  width:80%;
  height:40%;
  background-image: url(../img/logo.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.title{
  width: 100%;
  margin: 0 auto;
  margin-top: 17%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 30vw;
  color: white;
  text-align: center;
}

.startbutton{
  width: 60%;
  height: 7.5%;
  margin: 0 auto;
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
  font-size: 10vw;
  color: white;
  text-align: center;
  align-self: center;
  background-color: rgb(168, 34, 34);
}

.helpbutton{
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 50;
  color: white;
  text-align: center;
  align-self: center;
}

.link{
   color:white;
   text-decoration: none;
   background-color: none;
}
/*
.1{
  background: url(../img/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
