<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>YUMS</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!--

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/nivo-lightbox.css">
	<link rel="stylesheet" href="../css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>

  <!-- preloader section -->
  <section class="preloader">
  	<div class="sk-spinner sk-spinner-pulse"></div>
  </section>

  <!-- navigation section -->
  {{> navbar}}

  <div id='fakepad'></div>

  <div class='pics'>
    <div style="background: url('../img/1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center"> </div>
    <div style="background: url('../img/2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center"> </div>
    <div style="background: url('../img/3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center"> </div>
    <div style="background: url('../img/4.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center"> </div>
    <div style="background: url('../img/5.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center"> </div>
    <div style="background: url('../img/6.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center"> </div>
    <div style="background: url('../img/7.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center"> </div>
  </div>

  <div id='groupcon' class='groupContainer'>
    <div id='groupvert'class='group'>
      CREATE GROUP +
    </div>
    <div class="grpSelect">
    </div>
  </div>

  <div class='bHold'>
    <div class='vote' style="background-size:
    cover; background-repeat: no-repeat; background-position: center
    center">
      <a href='vote.html'>
        <img src='../img/vote.gif'>
      </a>
    </div>
    <div class='random' style="background-size:
    cover; background-repeat: no-repeat; background-position: center
    center">
      <a href='random.html'>
        <img src='../img/dice.png'>
      </a>
    </div>
  </div>

  <!-- JAVASCRIPT JS FILES -->
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.parallax.js"></script>
  <script src="../js/smoothscroll.js"></script>
  <script src="../js/nivo-lightbox.min.js"></script>
  <script src="../js/wow.min.js"></script>
  <script src="../js/custom.js"></script>

</body>
</html>
