<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>YUMS</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!--

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

-->
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/animate.min.css">
	<link rel="stylesheet" href="./css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/nivo-lightbox.css">
	<link rel="stylesheet" href="./css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/vote-style.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/forms-nr-min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>

  <!-- preloader section -->
  <section class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
  </section>

  <!-- navigation section -->
  {{> navbar}}

	<!-- title section -->
	<section class="parallax-section top-buf">
		<div class="container">
			<div class="row">
				<div class="title">
					VOTE
				</div>
			</div>
		</div>
	</section>

  <!-- form section -->
  <form action="/vote-result">
	<section id="form" class="parallax-section form-sec">
    <div class="container form-cont">
			<div class="row form-hold">
				<div class="input-fields-wrap">
					{{#each restaurants}}
					<div class="field-line wow fadeInUp">
						<span class="text-buf"><input class="res-field" type="text" name="mytext[]" value={{name}}></span>
						<!--<a href="#" class="add-field-button">Add More Fields</a>-->
						<span class="check-buf"><input class="our-check" type="checkbox" name="vote-{{name}}" value="1"></span>
					</div>
					{{/each}}
				  <div class="field-line wow fadeInUp">
						<span class="text-buf"><input class="res-field" type="text" name="mytext[]"></span>
						<!--<a href="#" class="add-field-button">Add More Fields</a>-->
						<span class="btn-buf"><button class="add-field-button">+</button></span>
					</div>
				</div>
      </div>
    </div>
  </section>
	</form>

	<section class="btn-hold">
		<div class="container">
			<div class="row">
				<a href="/vote-result" class="roll smoothScroll btn btn-default">VOTE</a>
				<!-- <input type="submit" value="Vote" class=""> -->
			</div>
		</div>
	</section>
  <!-- JAVASCRIPT JS FILES -->
  <script src="./js/jquery.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.parallax.js"></script>
  <script src="./js/smoothscroll.js"></script>
  <script src="./js/nivo-lightbox.min.js"></script>
  <script src="./js/wow.min.js"></script>
  <script src="./js/custom.js"></script>
  <script src="./js/voting.js"></script>

</body>
</html>
