.top-buf {
	margin-top: 50px;
}

.title {
	width:100%;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
	border-bottom: 1px solid;
}

.input-fields-wrap {
	width: 100%;
}

.field-line {
	display: table;
	width: 100%;
}

.text-buf {
	display: table-cell;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.btn-buf {
	display: table-cell;
  width: 100%;
  padding: 10px 10px 0px 0px;
}

.res-field {
	width: 100%;
}

.add-field-button {
	width: 5em;
	display: table-cell;
}

.remove-field {
	width: 5em;
	display: table-cell;
}

.btn-hold {
	display: table;
	margin: auto;
}
